<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span class="bugSpan" (click)="showReport = !showReport"><i class="fa fa-file-text"></i></span>
                <h4 class="dispIB">Reports</h4>
                <div class="reports" *ngIf="showReport">
                    <div class="iconBar clearfix">
                        <span class="bugSpan pull-right" (click)="showReport = !showReport"><i class="fa fa-file-text"></i></span>
                        <span class="bugSpan pull-left" (click)="showReport = !showReport"><i class="fa  fa-long-arrow-left"></i></span>
                    </div>
                    <h4>Reports</h4>
                    <div class="reportList">
                        <div class="issueBox">
                            <div class="rightSde">
                                <h5 class="IssueDate">Report Name Value</h5>
                                <p class="IssueName">9/14/2017 @ 10:57pm</p>
                                <p class="">All the data in one go!</p>
                            </div>
                        </div>
                        <div class="issueBox">
                            <div class="rightSde">
                                <h5 class="IssueDate">Report Name Value</h5>
                                <p class="IssueName">9/14/2017 @ 10:57pm</p>
                                <p class="">All the data in one go!</p>
                            </div>
                        </div>
                        <div class="issueBox">
                            <div class="rightSde">
                                <h5 class="IssueDate">Report Name Value</h5>
                                <p class="IssueName">9/14/2017 @ 10:57pm</p>
                                <p class="">All the data in one go!</p>
                            </div>
                        </div>
                        <div class="issueBox">
                            <div class="rightSde">
                                <h5 class="IssueDate">Report Name Value</h5>
                                <p class="IssueName">9/14/2017 @ 10:57pm</p>
                                <p class="">All the data in one go!</p>
                            </div>
                        </div>
                        <div class="issueBox">
                            <div class="rightSde">
                                <h5 class="IssueDate">Report Name Value</h5>
                                <p class="IssueName">9/14/2017 @ 10:57pm</p>
                                <p class="">All the data in one go!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: 100%;">
                    <img src="../../assets/img/test.png">
                </div>
            </div>
        </div>

    </div>
</div>