<nav class="navbar navbar-absolute">
    <div class="container-fluid col-md-12 col-sm-12 col-xs-12">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="#"><img src="../../assets/img/orthoHeaderLogo.png"/></a>
        </div>
        <h1 class="appTitle">
            Practice Pulse
        </h1>
        <div class="collapse navbar-collapse">
                <ul class="nav menu navbar-nav navbar-left">
                        <li>
                                <a>
                                    <img src="../../assets/img/report.png">Report
                                </a>
                            </li>    
                    <li>
                            <a>
                                <img src="../../assets/img/user.png">User name
                            </a>
                        </li>
                        <li>
                                <a class="logout" routerLink="/login" routerLinkActive="active"> Logout </a>
                        </li>
                    </ul>
            
        </div>
    </div>
</nav>