<div class="formContent bodyShopform">
    <div class="row formTopsection">

    </div>

    <div class="row">

        <div class="col-lg-12">
            <accordion>
                <accordion-group #group1 [isOpen]="true">
                    <div accordion-heading>
                        Section A <span class="shortNote">(to be completed by requisitioner)</span>
                        <i class="pull-right glyphicon" [ngClass]="{'glyphicon-menu-up': group1?.isOpen, 'glyphicon-menu-down': !group1?.isOpen}"></i>
                    </div>
                    <div style="padding: 15px 5px; background: #f1f1f1;">
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Purchase Order Number</label>
                                    <div class="inputControl">
                                        <input class="form-control" readonly="" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Finance Approval</label>
                                    <div class="inputControl">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Requestor</label>
                                    <div class="inputControl">
                                        <input class="form-control" readonly="" type="text">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Creation Date</label>
                                    <div class="inputControl">
                                        <div class="datePickerContainer">
                                            <input class="form-control" ngx-mydatepicker name="mydate" readonly #creation="ngx-mydatepicker" />
                                            <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default date-btn-remove"><i class="glyphicon glyphicon-remove"></i></button>
                                                            <button type="button" class="btn btn-default" (click)="$event.stopPropagation();creation.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label>Accountant</label>
                                    <div class="inputControl">
                                        <input class="form-control" readonly="" type="text">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>1st Level Approval</label>
                                    <div class="inputControl">
                                        <input class="form-control" type="text" value="Jeremy Whitaker" placeholder="Name of the approver" readonly>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>1st Level Approval Date</label>
                                    <div class="inputControl">
                                        <div class="datePickerContainer">
                                            <input class="form-control" ngx-mydatepicker name="mydate" readonly #fl1="ngx-mydatepicker" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default date-btn-remove"><i class="glyphicon glyphicon-remove"></i></button>
                                                <button type="button" class="btn btn-default" (click)="$event.stopPropagation();fl1.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>2nd Level Approval</label>
                                    <div class="inputControl">
                                        <input class="form-control" type="text" value="Jeremy Whitaker" placeholder="Name of the approver" readonly>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>2nd Level Approval Date</label>
                                    <div class="inputControl">
                                        <div class="datePickerContainer">
                                            <input class="form-control" ngx-mydatepicker name="mydate" readonly #fl2="ngx-mydatepicker" />
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-default date-btn-remove"><i class="glyphicon glyphicon-remove"></i></button>
                                            <button type="button" class="btn btn-default" (click)="$event.stopPropagation();fl2.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>3rd Level Approval</label>
                                    <div class="inputControl">
                                        <input class="form-control" type="text" value="Jeremy Whitaker" placeholder="Name of the approver" readonly>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>3rd Level Approval Date</label>
                                    <div class="inputControl">
                                        <div class="datePickerContainer">
                                            <input class="form-control" ngx-mydatepicker name="mydate" readonly #fl3="ngx-mydatepicker" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default date-btn-remove"><i class="glyphicon glyphicon-remove"></i></button>
                                                <button type="button" class="btn btn-default" (click)="$event.stopPropagation();fl3.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>PO Processor</label>
                                    <div class="inputControl">
                                        <input class="form-control" type="text" value="Jeremy Whitaker" placeholder="Name of the approver" readonly>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>PO Processor Approval Date</label>
                                    <div class="inputControl">
                                        <div class="datePickerContainer">
                                            <input class="form-control" ngx-mydatepicker name="mydate" readonly #pop="ngx-mydatepicker" />
                                            <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default date-btn-remove"><i class="glyphicon glyphicon-remove"></i></button>
                                                    <button type="button" class="btn btn-default" (click)="$event.stopPropagation();pop.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 15px 5px; background: #f1f1f1; margin-top:10px;">
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label>Vendor number</label>
                                    <div class="inputControl">
                                        <input class="form-control" type="text" value="001" placeholder="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label>Proposed Vendor</label>
                                    <div class="inputControl">
                                        <input class="form-control" type="text" value="iLink Systems Inc." placeholder="">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label>Address</label>
                                    <textarea class="form-control">9840 Willows Rd NE, Suite 202 
                            </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-left: 0px;">
                                        <label>City</label>
                                        <div class="inputControl">
                                            <input class="form-control" type="text" value="Redmond">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <label>State</label>
                                        <div class="inputControl">
                                            <input class="form-control" type="text" value="WA">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-right: 0px;">
                                        <label>Zip</label>
                                        <div class="inputControl">
                                            <input class="form-control" type="text" value="98052">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-left: 0px;">
                                        <label>Telephone</label>
                                        <div class="inputControl">
                                            <input class="form-control" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <label>Facsimile</label>
                                        <div class="inputControl">
                                            <input class="form-control" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-right: 0px;">
                                        <label>Email</label>
                                        <div class="inputControl">
                                            <input class="form-control" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 15px 5px; background: #f1f1f1; margin-top:10px;">
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Project/Justification</label>
                                    <textarea class="form-control">Office 365 (O365) – Microsoft Cloud Exchange implementation services  
                            </textarea>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0px;">
                                        <label>Expense category</label>
                                        <div class="inputControl">
                                            <input class="" type="radio" value="capital" name="Expense"> Capital &nbsp;&nbsp;
                                            <input class="" type="radio" value="ratio" name="Expense"> Expense Ratio
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label>Is purchase budgeted? </label>
                                        <div class="inputControl">
                                            <input class="" type="radio" value="yes" name="budget"> Yes &nbsp;&nbsp;
                                            <input class="" type="radio" value="no" name="budget"> No
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 15px 5px; background: #f1f1f1; margin-top:10px;">
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Required by date</label>
                                    <div class="inputControl">
                                        <div class="datePickerContainer">
                                            <input class="form-control" ngx-mydatepicker name="mydate" readonly #dp3="ngx-mydatepicker" />
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-default date-btn-remove"><i class="glyphicon glyphicon-remove"></i></button>
                                            <button type="button" class="btn btn-default" (click)="$event.stopPropagation();dp3.toggleCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Other Instructions</label>
                                    <div class="inputControl">
                                        <input class="form-control" type="text" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 15px 5px; background: #f1f1f1; margin-top:10px;">
                        <div class="row mrg-B-10">
                            <div class="col-md-12">


                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Competitive bids required? </label>
                                    <div class="inputControl">
                                        <input class="" type="radio" value="yes" name="bids"> Yes &nbsp;&nbsp;
                                        <input class="" type="radio" value="no" name="bids"> No
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Quotations supplied?  </label>
                                    <div class="inputControl">
                                        <input class="" type="radio" value="yes" name="quotation"> Yes &nbsp;&nbsp;
                                        <input class="" type="radio" value="no" name="quotation"> No (attach as required)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div style="padding: 15px 5px; background: #f1f1f1; margin-top:10px;">
                        <div class="row mrg-B-10">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Competitive bids required? </label>
                                    <div class="inputControl">
                                        <input class="" type="radio" value="yes" name="bids"> Yes &nbsp;&nbsp;
                                        <input class="" type="radio" value="no" name="bids"> No
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label>Quotations supplied?  </label>
                                    <div class="inputControl">
                                        <input class="" type="radio" value="yes" name="quotation"> Yes &nbsp;&nbsp;
                                        <input class="" type="radio" value="no" name="quotation"> No (attach as required)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="filterable" style="padding: 15px; background: #f1f1f1; margin-top:10px;">
                        <table class="table table-striped">
                            <thead>
                                <tr class="filters">
                                    <th>
                                        Line
                                    </th>
                                    <th>
                                        Discription
                                    </th>
                                    <th>
                                        Intended usage
                                    </th>
                                    <th>
                                        Dept. code
                                    </th>
                                    <th>
                                        GL Acct
                                    </th>
                                    <th>
                                        Project no.
                                    </th>
                                    <th>
                                        Unit Price
                                    </th>
                                    <th>
                                        Qty.
                                    </th>
                                    <th>
                                        Extended Price
                                    </th>
                                    <th>
                                        Taxable Y or N
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" style="width:55px"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control" style="width:75px"></td>
                                    <td><input type="text" class="form-control" style="width:65px"></td>
                                    <td><input type="text" class="form-control" style="width:75px"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control" style="width:55px"></td>
                                    <td><input type="text" class="form-control" style="width:100px"></td>
                                    <td><input type="text" class="form-control" style="width:100px"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" style="width:55px"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control" style="width:75px"></td>
                                    <td><input type="text" class="form-control" style="width:65px"></td>
                                    <td><input type="text" class="form-control" style="width:75px"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control" style="width:55px"></td>
                                    <td><input type="text" class="form-control" style="width:100px"></td>
                                    <td><input type="text" class="form-control" style="width:100px"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" style="width:55px"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control" style="width:75px"></td>
                                    <td><input type="text" class="form-control" style="width:65px"></td>
                                    <td><input type="text" class="form-control" style="width:75px"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control" style="width:55px"></td>
                                    <td><input type="text" class="form-control" style="width:100px"></td>
                                    <td><input type="text" class="form-control" style="width:100px"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" style="width:55px"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control" style="width:75px"></td>
                                    <td><input type="text" class="form-control" style="width:65px"></td>
                                    <td><input type="text" class="form-control" style="width:75px"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control" style="width:55px"></td>
                                    <td><input type="text" class="form-control" style="width:100px"></td>
                                    <td><input type="text" class="form-control" style="width:100px"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" style="width:55px"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control" style="width:75px"></td>
                                    <td><input type="text" class="form-control" style="width:65px"></td>
                                    <td><input type="text" class="form-control" style="width:75px"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control" style="width:55px"></td>
                                    <td><input type="text" class="form-control" style="width:100px"></td>
                                    <td><input type="text" class="form-control" style="width:100px"></td>
                                </tr>
                                <tr>
                                    <td colspan="7">
                                        **Note for Intended Usage: Describe use of goods. For example, inventory (goods will be resold or built into products for
                                        resale) or non-inventory (goods will be consumed by Lantronix and not resold).
                                    </td>
                                    <td>
                                        <b>Total</b>
                                    </td>
                                    <td colspan="2">
                                        <b>$25,960.00</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </accordion-group>
                <accordion-group #group3 [isOpen]="true">
                    <div accordion-heading>
                        Attachment
                        <i class="pull-right glyphicon" [ngClass]="{'glyphicon-menu-up': group3.isOpen, 'glyphicon-menu-down': !group3?.isOpen}"></i>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="buttonContainer">
        <button type="button" (click)="handleEvent()">Add Media</button>
        <button class="activeBtn submitBtn" [disabled]="isLoading">Submit</button>
        <button [disabled]="isLoading" class="clearBtn">Clear</button>
    </div>
</div>
<div class="loader" *ngIf="isLoading">
    <img src="../SiteAssets/assets/images/loading.gif" class="loader-img">
</div>

<ng-template #modalContent let-close="close">

    <div class="modal-header">
        <h4 class="modal-title pull-left">View Detail</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="fileUpload btn btn-primary">
                    <span>Add Media</span>
                    <input accept="*" class="upload" data-max-size="20971520" id="videoUploader" placeholder="Upload file" type="file">
                </div>
                <div class="Galleryalertmsg">File size should not exceed more than 20 MB Image, pdf, word, audio, video</div>
                <div class="fileListViewContainer">
                    <ul class="previewlist">
                        <li title="select image for default idea image">
                            <div class="imagepreviewcontainer">
                                <div class="previewImageBorder">
                                    <img alt="Avatar" class="latestIdeaimage img-responsive" src="../SiteAssets/assets/images/image.jpg">
                                </div>

                                <div class="addideaimagedelete"><span><button class="close" title="click here to delete the file" type="button">×</button></span></div>

                                <span class="filename" title="cog.jpg">cog.jpg</span>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer">
            <div class="addideamodalfooter">
                    <!--template bindings={}--><div class="Galleryalertmsg defaultImageMsg">Click on the image file to choose your idea's default image</div>
                    <button class="popupBtn" type="button" title="click here to submit this idea"> Submit</button>
                    <button class="popupBtn" title="click here to close the modal" type="button" (click)="modalRef.hide()">Close</button>
                  </div>
    </div>

</ng-template>