$bodybg:#f1f3fa;
$headerbg:#184ca0;
$sidebarbg:#4d5b68;
$sidemenubg:#45515d;
$sidebarbottomborder:#536372;
$white:#fff;
$black:#000;
$headercolor:#666666;
$oddrowtablebg:#fafafa;
$evenrowtablebg:#fdfdfd;
$footerbg:#c0c6c2;
$hoverbtncolor:#4080e6;
$bordercolor:#ccc;
$greenbar:#36b951;
$redbar:#e2001a;
$linkColor:#337ab7;