<div class="backgroundImg">
<div class="login-container">
    <div class="loginInnerContainer">
        <div class="loginLogo">
            <a href="javascript:;">
                <img src="../../assets/img/OrthoSynetics.png">    
             </a>
            <h1>Orthosynetics Reporting App</h1>
        </div>
        <form>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control"/>
            </div>
            <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control"/>
                </div>
                <div class="form-group text-right">
                    <a href="javascript:;" class="forgotPwd">Forgot Password?</a>
                </div>
                <div class="form-group text-right">
                    <div class="text-danger">As Developer</div>
                    <button type="button" class="btn btn-primary" routerLink="/dashboard" routerLinkActive="active">SIGN IN</button>
                    <div class="text-danger">As End User</div>
                </div>
        </form>
    </div>
</div>
</div>